---
import Layout from "../layouts/BlogPost.astro";
---

<!-- Add a hero image using   heroImage="/blog-placeholder-about.jpg" -->
<Layout
  title="Über uns"
  description="Geschichte und Hintergrundinformationen zu Mensch & Umwelt"
  pubDate={new Date("April 22, 2024")}
>
  <article>
    <h3>Mensch & Umwelt Kämpfelbach e. V.</h3>
    <p>
      Unser Verein wurde von kommunalpolitisch interessierten Bürgerinnen und
      Bürgern im Jahr 1995 ins Leben gerufen.
    </p>
    <p>
      Den Mitgliedern ist eine naturnahe und umweltschonende Entwicklung ihrer
      beiden Dörfer Bilfingen und Ersingen wichtig. Zudem wird in Treffen und
      Aktivitäten die Begegnung der Mitglieder und der Bürgerinnen und Bürger
      gefördert und gepflegt.
    </p>
    <p>
      Christoph Krauch ist 1. Vorstand und Christine Fischer hat das Amt des 2.
      Vorstandes inne.
    </p>
    <a href="mailto:c.krauch@mum-kaempfelbach.de">Email an den 1. Vorstand</a>
  </article>
  <br />
  <hr />
  <br />
  <article>
    <h3>Liste Mensch & Umwelt (MuM) Kämpfelbach</h3>
    <p>
      "MuM Kämpfelbach" war mit einer Unterbrechung schon seit 1994 mit jeweils
      zwei Vertreter/innen im Kämpfelbacher Gemeinderat aktiv. Seit 2019 ist die
      Liste mit drei Gemeinderätinnen vertreten.
    </p>
    <p>
      Unter dem Motto "Global denken - lokal handeln" tritt die Liste für eine
      nachhaltige Gemeindepolitik ein. Sie gestaltetet die Entwicklung von
      Kämpfelbach im Auftrag ihrer WählerInnen konstuktiv und kritisch mit.
    </p>
    <p>
      Die Förderung des Umweltbewusstseins und die Sensibilisierung der
      Bürgerinnen und Bürger für Umwelt- und Naturschutzthemen sind uns ein
      besonderes Anliegen.
    </p>
    <a href="/pdf/MuM_Kaempfelbach_Schwerpunkte_Gemeindepolitik.pdf"
      >Unsere Schwerpunkte der Gemeindepolitik</a
    >
    <br />
    <br />
    <h3>Unsere Gemeinderätinnen für Kämpfelbach</h3>
    <ul>
      <li>
        <p>Christine Fischer, geb. 1965, 2 Kinder, Lehrerin</p>
        <img src="/christine-fischer.jpg" alt="Christine Fischer" />
        <p>
          "An der Gestaltung der Zukunft unserer Gemeinde möchte ich aktiv
          mitwirken. Eine zukunftsorientierte Dorfentwicklung und altersgerechte
          Infrastruktur wie z.B. barrierefreier Zugang zum Bürgerhaus und eine
          menschen- und umweltfreundliche Verkehrspolitik sowie attraktive
          Angebote für junge Familien sind wichtige Aufgaben der nächsten Jahre.
          Bildung und Betreuung sind mein Schwerpunkt und müssen sich an den
          Bedürfnissen unserer Kinder ausrichten. Ich bin aktiv in unserer
          Kirchengemeinde und unterstütze Flüchtlinge und AsylbewerberInnen in
          Kämpfelbach."
        </p>
        <a href="mailto:c.fischer@mum-kaempfelbach.de"
          >Email an Christine Fischer
        </a>
        <p>Telefon: 07231-1826033</p>
      </li>
      <li>
        <p>Sigrid Bellitto, geb. 1961, verheiratet, 3 Kinder, Kauffrau:</p>
        <img src="/sigrid-bellitto.jpg" alt="Sigrid Bellitto" />
        <p>
          "Ich möchte mich im Gemeinderat für die Erhaltung unserer schönen
          Natur und eine familienfreundliche Politik einbringen, damit unsere
          Gemeinde auch für nachfolgende Generationen attraktiv bleibt. Ich bin
          aktives Mitglied im Naturheilverein Pforzheim, Hobbyimkerin, halte
          Vorträge und berate über die Handhabung von Effektiven Mikroorganismen
          in allen Lebensbereichen."
        </p>
        <a href="mailto:s.bellitto@mum-kaempfelbach.de">
          Email an Sigrid Bellitto
        </a>
        <br />
        <a href="https://www.bellitto.de">Homepage von Sigrid Bellitto </a>
        <p>Telefon: 07232-13055</p>
      </li>
      <li>
        <p>Martina Frey</p>
        <img src="/martina-frey.jpg" alt="Martina Frey" />
        <br />
        <a href="mailto:martina-frey@gmx.de">Email an Martina Frey</a>
      </li>
    </ul>
  </article>
</Layout>
